<a href="https://www.w3schools.com/TAGS/default.ASP">HTML TAG overzicht</a>
<br />
<br />

<!-- dit is commentaar-->
<!-- dit een is een plaatje die 50% breed is van de volledige grootte zonder CSS te gebruiken -->
<img
  src="https://cdn.pixabay.com/photo/2019/12/05/19/28/clip-art-4675943_960_720.png"
  width="50%"
/>
<!-- de h staat voor header en de 1 voor de maat, je hebt ook h2, h3 tm h6 -->
<h1>HALLO</h1>
<!-- een div wordt gebruikt om html te groeperen zodat je het op dezelde manier kan stylen -->
<div>blok</div>
<!-- een p is niet heel anders dan een div maar wordt vooral gebruikt om een paragraaf aan te geven -->
<p>paragraaf</p>
<!-- een span is ook niet heel anders maar wordt meestal op 1 regel gebruikt -->
<span>vak</span>
<!-- een br is een break, hier kan je de regel mee afbreken -->
<br />
<!-- in een input kan je typen -->
<input value="hallo" />
<br />
<!-- op een knop kan je drukken -->
<button>knop</button>
<br />
<!-- een a is een hyperlink en dat is een link naar iets anders -->
<a href="https://www.nu.nl">Ga naar nu.nl</a>
<br />
<br />
<a href="https://www.w3schools.com/TAGS/default.ASP">HTML TAG overzicht</a>
