<!-- dit is een tabel -->
<h1>tabel</h1>
<table border="1">
  <tr>
    <th>kop1</th>
    <th>kop2</th>
    <th>kop3</th>
  </tr>
  <tr>
    <td>veld1</td>
    <td>veld2</td>
    <td>veld3</td>
  </tr>
  <tr>
    <td colspan="3" align="center">breed</td>
  </tr>
</table>

<!-- dit is een opsomming -->
<h1>opsomming</h1>
<h2>ongeordend</h2>
<ul>
  <li>één</li>
  <li>twee</li>
  <li>drie</li>
  <li>vier</li>
  <li>vijf</li>
  <li>zes</li>
  <li>zeven</li>
</ul>
<h2>opeenvolgend</h2>
<ol>
  <li>één</li>
  <li>twee</li>
  <li>drie</li>
  <li>vier</li>
  <li>vijf</li>
  <li>zes</li>
  <li>zeven</li>
</ol>
