img.profile {
  border-radius: 50%;
  width: 100%;
}

.container {
  width: 100%;
}

.links {
  width: 25%;
  float: left;
  text-align: left;
}

.rechts {
  width: 75%;
  float: left;
  text-align: right;
}

.clearfix {
  clear: both;
}
