<div class="container">
  <div class="links">
    <img
      class="profile"
      src="https://lh5.googleusercontent.com/-vJ9Q3ccrO6w/AAAAAAAAAAI/AAAAAAAADU0/m399ojLRaXc/photo.jpg"
    />
  </div>
  <div class="rechts">
    <h1>Dennis Spangenberg</h1>
    <h2>Software developer</h2>
    <p>
      studeerde Technische informatica aan Saxion Enschede <br />
      werkt meer dan 10 jaar voor Topicus <br />
      begonnen als software developer bij Topicus Care <br />
      vooral bezig met C#.net voor Topicus Finance
    </p>
  </div>
  <div class="clearfix"></div>
</div>
